.contactDetails {
  display: flex;
  min-height: 40vh;


  @media (min-width: 1485px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 1372px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 940px) {
    display: block;
    justify-content: center;
    align-items: center;
  }

  & * {
    overflow: hidden;
    // to fix the overlap on the search bar
  }

  &__info,
  &__statistics {
    background-color: var(--bg-primary);
    border: 1px var(--bg-secondary) solid;
    border-radius: 0.47rem;
    margin-block: 1rem 0.565rem;

    &--header {
      margin-top: 1.67rem;
      min-width: 17.4rem;

      display: flex;
      justify-content: space-between;

      &__name {
        color: var(--text2);
        font-size: var(--fs-big);
      }
      &__date {
        color: var(--text3);
        font-size: var(--fs-small);
      }
    }
  }

  &__info {
    margin-inline-start: 0.7rem;
    padding-inline: 1.22rem 0.75rem;
    padding-bottom: 1rem;

    &--body {
      display: flex;
      @media (max-width: 940px) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

      &__data--section {
        margin-block-start: 1.4rem;

        & > header {
          display: flex;
          align-items: center;

          & > svg {
            margin-inline-end: 0.23rem;
          }

          & > p {
            color: var(--text3);
            font-size: var(--fs-small);
          }
        }
      }

      & h3 {
        margin-top: 0.6rem;
        font-size: var(--fs-header);
      }

      &__chart {
        position: relative;
        margin-top: 1.54rem;
        margin-inline-start: 3rem;

        background-image: url("../../../assets/images/Ellipse\ 1078.svg");
        background-repeat: no-repeat;
        width: 10.25rem;
        height: 10.25rem;

        &::before {
          content: "";
          background-image: url("../../../assets/images/Ellipse\ 1075.svg");
          background-repeat: no-repeat;

          position: absolute;
          width: 25rem;
          height: 25rem;

          top: 1.25rem;
          left: 1rem;
        }

        &::after {
          content: "";
          background-image: url("../../../assets/images/Ellipse\ 1074.svg");
          background-repeat: no-repeat;

          position: absolute;
          width: 25rem;
          height: 25rem;

          top: 2.5rem;
          left: 2.5rem;
        }

        & > .outLineDot {
          position: absolute;
          height: 0.56rem;
          width: 0.56rem;

          top: 2.5rem;
          left: 9rem;
        }

        & > .midLineDot {
          position: absolute;
          height: 0.56rem;
          width: 0.56rem;

          top: 8.4rem;
          left: 4.8rem;
        }

        & > .innerLineDot {
          position: absolute;
          height: 0.56rem;
          width: 0.56rem;

          top: 4rem;
          left: 2.5rem;
        }

        & > .employee {
          position: absolute;

          top: 3.5rem;
          left: 3.5rem;
        }
      }
    }
  }

  &__statistics {
    margin-inline-start: 0.66rem;
    padding-inline: 0.81rem 0;
    padding-block: 1.5rem 1rem;
    min-width: 17.4rem;

    &--body {
      margin-block: 0.5rem 0.5rem;
    }

    &--footer {
      display: flex;
      justify-content: space-around;

      &__data1,
      &__data2 {
        position: relative;
        padding: 0 1rem;

        & > h3 {
          font-size: var(--fs-header);
        }

        & > p {
          font-size: var(--fs-big);
          color: var(--text3);
        }

        &::before {
          content: "";
          position: absolute;
          height: 2rem;
          top: 0.25rem;
          right: 0rem;

          --radius: 25%;
          border-start-start-radius: var(--radius);
          border-end-end-radius: var(--radius);
          border-start-end-radius: var(--radius);
          border-end-start-radius: var(--radius);
        }
      }

      &__data1::before {
        border: 2.5px solid var(--accent);
      }

      &__data2::before {
        border: 2.5px solid var(--yellow);
      }
    }
  }

  &__others {
    margin-inline: 0.66rem 0.9rem;
    min-width: 12.2rem;
    color: var(--bg-secondary);

    &--card {
      position: relative;
      min-width: 12.2rem;
      margin-block-start: 1rem;
      padding-inline-start: 0.7rem;
      border-radius: 1rem;

      &__header > h3 {
        font-size: var(--fs-big);
        margin-block-start: 1rem;
      }

      &__body {
        display: flex;
        align-items: center;
        margin-block: 0.75rem;

        & > h3 {
          font-size: var(--fs-header);
        }

        & > img {
          margin-inline-start: 1rem;
        }
      }
      & > .decoration {
        position: absolute;
        height: 6rem;

        left: -5px;
        bottom: -2px;
      }

      & > .decoration.rev {
        transform: scaleX(-1);
        position: absolute;

        left: 10px;
        bottom: -2px;
      }
    }
  }
}
