.main {
  display: flex;

  @media (min-width: 1485px) {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  @media (max-width: 1372px) {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }


  @media (max-width: 1242px) {
    display: block;
  }

  &__body {
    background-color: var(--bg-primary);
  }
}
