.navbar {
  display: flex;
  position: relative;

  &__logo {
    margin-inline-start: 3.41rem;
    margin-top: 1.212rem;
  }

  &__langBtn {
    margin-top: 3rem;
    margin-inline-start: 1rem;

    & img {
      cursor: pointer;

      &:active {
        background-color: var(--accent);
      }
    }

    &.arDirection {
      transform: scaleX(-1);
    }
  }
}
