.calendar {
  margin-block-start: 1.59rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      display: inherit;
      justify-content: flex-end;
      align-items: center;

      & > h3 {
        padding: 0;
        margin: 0;
      }

      & > a {
        font-size: var(--fs-small);
        color: var(--text3);
        cursor: pointer;
      }

      & > img {
        margin-inline: 0.5rem;

        &.rotate {
          transform: scaleX(-1);
        }
      }
      & > a {
        border-radius: 0.52rem;

        & > img {
          display: inline;
          margin-inline-start: 0.5rem;
          transform: rotate(90deg);
        }
      }
    }
  }

  & > div > ul {
    list-style: none;
    display: flex;
    margin-block: 1.22rem 2.5rem;
    // margin-inline-start: -0.75rem;

    & li {
      display: inherit;
      flex-direction: column;
      align-items: center;
      margin-inline-start: 0.75rem;
      cursor: default;

      & > span {
        font-size: var(--fs-small);
        color: var(--text3);

        &.number {
          font-size: var(--fs-big);
          color: var(--text1);
        }
      }

      & > div {
        display: inherit;
        flex-direction: row;

        margin-inline-start: -0.25rem;

        & > img {
          margin-inline-start: 0.25rem;
          margin-block-start: 0.52rem;
        }
      }
    }
  }
}
